body{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.4rem;
    font-family: var(--font);
    font-weight: 400;

    background-color: var(--very-dark-blue);
    background-image: url('../images/bg-desktop.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
}

main{
    display: flex;
    flex-direction: row;
    gap: unset;
    justify-content: space-between;
    align-items: flex-end;

    width: 92.3rem;
}
.main__options{
    width: 35.4rem;
}
.main__info{
    height: 15.5rem;
    width: 54rem;
}
.info__progress{
    width: 81.5%;
}
.info__message_box{
    position: absolute;
    top: -12rem;
    right: 0;
    left: unset;

    margin-left: unset;
    margin-right: unset;

    border-end-end-radius: 0rem;
}
.info__message_box::before{
    content: '';
    position: absolute;
    top: 5.5rem;
    right: -0.1rem;

    width: 4rem;
    height: 5rem;

    background-color: white;
    clip-path: polygon(0 0, 100% 100%, 99% 0);
}